
body{
	background-image:url("img1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
		
}

	

.con2{
	background-color:black;
	height: 90px;
	display: flex;
		flex-direction: column;
	
		}



.con2 ul 
		{
			list-style-type: none;
			text-decoration: none;


}
.con2 li
{
	display: inline;
	float: right;
	padding: 20px;
	color: whitesmoke;
}

.con3
		{
			background-color:#9F8170;
			/*padding: 90px;*/
			width: 350px;
			height: 250px;
			float: left;
			color: white;
			margin-top: 100px;
			opacity: 0.6;
			margin-left: 120px;
			display: flex;
		flex-direction: column;

		}
		
			

		}
		.con3 p{
			font-size: 15px;
			font-family: sans-serif;



		}

		.con3 h4
		{
font-size:20px;
font-weight: bold;
text-align: center;
display: inline;
		}


		
		.con4
		{
			background-color:#9F8170;
			/*padding: 90px;*/
			width: 350px;
			height: 250px;
			float: left;
			color: white;
			margin-top: 85px;
			opacity: 0.6;
			margin-left: 35px;
			display: flex;
		flex-direction: column;

		}
			

		.con4 p{
			font-size: 15px;
			font-family: sans-serif;



		}

		.con4 h4
		{
font-size:20px;
font-weight: bold;
text-align: center;
display: inline;
		}
		.con5
		{
			background-color:#9F8170;
			/*padding: 90px;*/
			width: 350px;
			height: 250px;
			float: left;
			color: white;
			margin-top: 85px;
			opacity: 0.6;
			margin-left: 30px;
			display: flex;
		flex-direction: column;
		}
		
			

		}
		.con5 p{
			font-size: 15px;
			font-family: sans-serif;



		}

		.con5 h4
		{
font-size:20px;
font-weight: bold;
text-align: center;
display: inline;
		}
@media only screen and (max-width: 720px) {
	.main{
		display: flex;
		flex-direction: column;
	}
	.main li{

		justify-content: normal;
		flex-direction: row;
		font-size: 6px;
		margin-left: 8px;

	}
	.main2{
		display: flex;
		flex-direction: column;
		
	}
	 .con3{
	 	justify-content: normal;
		flex-direction: column;
		font-size: 14px;
		margin-left: 100px;

	}
	.main3{
		display: flex;
		flex-direction: column;
	}
	 .con4{
	 	justify-content: normal;
		flex-direction: column;
		font-size: 14px;
		margin-left: 100px;


	}
	.main4{
		display: flex;
		flex-direction: column;
	}
	 .con5{
	 	justify-content: normal;
		flex-direction: column;
		font-size: 14px;
		margin-left: 100px;


	}
	.main5{
		display: flex;
		flex-direction: column;
}
	.fff{
			justify-content: normal;
		flex-direction: column;
		font-size: 14px;
		margin-left:20px;
		margin-top: -350px;
	
	}

	}
